<section id="food_type">
  <h1><%= @food_type.name %></h1>
</section>

<section id="recipes">
  <% @food_type.recipes.each do |recipe| %>
    <div class="image">
      <%= image_tag recipe.picture.url unless recipe.picture.blank? %>
    </div>
    <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
    <dl>
      <dt>Cozinha</dt>
      <dd><%= recipe.cuisine.name %></dd>
      <dt>Quantas pessoas serve</dt>
      <dd><%= recipe.serves %></dd>
      <dt>Tempo de preparo (em minutos)</dt>
      <dd><%= recipe.prep_time %></dd>
      <dt>Dificuldade</dt>
      <dd><%= recipe.difficulty.humanize %></dd>
    </dl>
    <% if recipe.user == current_user %>
      <p><%= button_to "Editar", edit_recipe_path(recipe), method: :get %></p>
      <%= button_to "Excluir", @recipe_id, method: :delete %>
    <% end %>
  <% end%>
</section>

<%= button_to "Voltar", root_path, method: :get %>
