<section id="recipes">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @recipe, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Nome' %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :serves, 'Quantas pessoas serve' %>
          <%= f.text_field :serves, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :prep_time, 'Tempo de preparo (em minutos)' %>
          <%= f.text_field :prep_time, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :ingredients, 'Ingredientes' %>
          <%= f.text_area :ingredients, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :prep_steps, 'Passo a passo' %>
          <%= f.text_area :prep_steps, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :cuisine_id, 'Cozinha' %>
          <%= f.collection_select(:cuisine_id, @cuisines, :id, :name)%>
        </div>
        <div class="form-group">
          <%= f.label :food_type_id, 'Tipo de comida' %>
          <%= f.collection_select(:food_type_id, @food_types, :id, :name) %>
        </div>
        <div class="form-group">
          <%= f.label :difficulty, 'Nível de dificuldade' %>
          <%= f.select :difficulty,
          options_for_select(@difficulties.collect { |s| [s[0].humanize, s[0]] },
          selected: @recipe.difficulty) %>
        </div>
        <div class="input-group">
          <%= f.label :picture, "Foto" %>
          <%= f.file_field :picture %>
        </div>
        <br>
        <%= f.submit text_submit, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</section>

<%= button_to 'Voltar', root_path, method: 'get', class: "btn btn-default" %>
