<section id="cuisines">
  <h1>Cozinhas</h1>
  <p><%= link_to "Cadastrar nova cozinha", new_cuisine_path %></p>
  <% @cuisines.each do |cuisine| %>
    <p><%= link_to cuisine.name, cuisine_path(cuisine) %></p>
  <% end %>
</section>

<section id="recipes">
  <h1>Receitas</h1>
  <p><%= link_to "Cadastrar nova receita", new_recipe_path %></p>
  <div>
    <% @recipes.each do |recipe| %>
    <dl>
      <dt>Nome</dt>
      <dd><%= recipe.name %></dd>
      <dt>Cozinha</dt>
      <dd><%= recipe.cuisine.name %></dd>
      <dt>Tipo de comida</dt>
      <dd><%= recipe.food_type %></dd>
      <dt>Quantas pessoas serve</dt>
      <dd><%= recipe.serves %></dd>
      <dt>Tempo de preparo (em minutos)</dt>
      <dd><%= recipe.prep_time %></dd>
      <dt>Dificuldade</dt>
      <dd><%= recipe.difficulty.humanize %></dd>
      <dt>Ingredientes</dt>
      <dd><%= recipe.ingredients %></dd>
      <dt>Passo a passo</dt>
      <dd><%= recipe.prep_steps %></dd>
    </dl>
    <% end %>
  </div>
</section>
