<section id="recipe">
  <div>
    <%= image_tag @recipe.picture.url unless @recipe.picture.blank? %>
  </div>
  <div>
    <h1><%= @recipe.name %></h1>
    <dl>
      <dt>Tipo de comida</dt>
      <dd><%= @recipe.food_type.name %></dd>
      <dt>Cozinha</dt>
      <dd><%= @recipe.cuisine.name %></dd>
      <dt>Quantas pessoas serve</dt>
      <dd><%= @recipe.serves %></dd>
      <dt>Tempo de preparo</dt>
      <dd><%= @recipe.prep_time %></dd>
      <dt>Nível de dificuldade</dt>
      <dd><%= @recipe.difficulty.humanize %></dd>
      <dt> Ingredientes</dt>
      <dd><%= @recipe.ingredients %></dd>
      <dt>Passo a passo</dt>
      <dd><%= @recipe.prep_steps %></dd>
    </dl>
  </div>
</section>

<%= link_to "Voltar", root_path %>
