<section id="cuisine">
  <%= form_for @cuisine do |f| %>
  <dl>
    <dt><%= f.label :name, "Nome" %></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>
    <%= f.submit text_submit %>
  <% end %>
</section>

<%= button_to "Voltar", root_path, method: :get %>
