<section id="cuisine">
  <h1><%= @cuisine.name %></h1>
</section>

<section id="recipes">
  <% @cuisine.recipes.each do |recipe| %>
  <dl>
    <dt>Nome</dt>
    <dd><%= recipe.name %></dd>
    <dt>Tipo de comida</dt>
    <dd><%= recipe.food_type %></dd>
    <dt>Quantas pessoas serve</dt>
    <dd><%= recipe.serves %></dd>
    <dt>Tempo de preparo (em minutos)</dt>
    <dd><%= recipe.prep_time %></dd>
    <dt>Dificuldade</dt>
    <dd><%= recipe.difficulty.humanize %></dd>
    <dt>Ingredientes</dt>
    <dd><%= recipe.ingredients %></dd>
    <dt>Passo a passo</dt>
    <dd><%= recipe.prep_steps %></dd>
  </dl>
  <% end%>
</section>

<% link_to "Voltar", root_path %>
