<!DOCTYPE html>
<html>
  <head>
    <title>SocialRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Social Recipes</h1>

        <%= button_to "Entrar", login_path, method: "get" %>
        <%= button_to "Criar usuário", new_user_path, method: "get" %>

        <div class="row">
          <section id="search">
            <div class="col-md-3">
              <%= form_tag("/search", method: "get") do %>
                <%= label_tag(:search, "Buscar Receita") %>
                <%= text_field_tag(:search) %>
                <%= submit_tag("Buscar") %>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </header>

    <main>
    <div class="container">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>
    </div>
    </main>
  </body>
</html>
