<!DOCTYPE html>
<html>
  <head>
    <title>SocialRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Social Recipes</h1>

      <section id="search">
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:search, "Buscar Receita") %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Buscar") %>
        <% end %>
     </section>

     <section id="login">
       <%= link_to "Criar usuário", new_user_path %>
       <%= form_for(:session, url: login_path) do |f| %>
         <dl>
           <dt><%= f.label :mail, "E-mail" %></dt>
           <dd><%= f.email_field :mail %></dd>
           <dt><%= f.label :password, "Senha" %></dt>
           <dd><%= f.password_field :password %></dt>
        </dl>
           <%= f.submit "Entrar" %>
      <% end %>
     </section>

    </header>

    <main>
    <div class="container">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>
    </div>
    </main>
  </body>
</html>
