<!DOCTYPE html>
<html>
  <head>
    <title>SocialRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Social Recipes</h1>

      <section id="search">
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag(:search, "Buscar Receita") %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Buscar") %>
        <% end %>
     </section>

    </header>

    <main>
    <%= yield %>
    </main>
  </body>
</html>
